.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast-container .toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 10px;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(-100%);
}
.toast-container .success {
    background-color: #2ECC71;
}
.toast-container .error {
    background-color: #E14D45;
}
.toast-container .warning {
    background-color: #ED991D;
}

.toast.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}